
.popup, body>.ui-pnotify { display: none; left: 0; top: 0; width: 100%; background: rgba(255, 255, 255, 0.85); padding: 10px; position: fixed;-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25); -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25); box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25); z-index: 10; text-align: center; font-size: 0.875em; width: 100%; }
.popup-success, body>.ui-pnotify .brighttheme-success { background: rgba(23, 199, 158, 0.85); width: 100%; padding: 0 }
.popup-error{ background: rgba(232, 45, 45, 0.85); }

#clippy { width: 234px; height: 218px; position: fixed; bottom: 40px; right: 40px; background: url("../images/clippy.png") no-repeat; }
#stromberg { width: 319px; height: 444px; position: fixed; bottom: 0; right: 0; background: url("../images/stromberg.png") no-repeat;  }
/* Globals */ 

* { padding: 0; margin: 0; box-sizing: border-box; -webkit-box-sizing: border-box; }
html { -webkit-text-size-adjust: 100%; }
body { background: #e8e8e8; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 1em; color: #818C9D; line-height: 160%; }
.hidden, .invisible, .desktop-only, .tooltip-menu { display: none }
strong { font-weight: 500 }

fieldset, img, button { border: 0; }

.no-mobile { display: none }
.desktop-only { display: block }

::-webkit-input-placeholder { color: #a2a2a2; }
::-moz-placeholder { color: #a2a2a2; }
:-ms-input-placeholder { color: #a2a2a2; }
:-moz-placeholder { color: #a2a2a2; }

.label-editable { font-weight: 400; color: #475359; margin-bottom: 2px; }
.editable { margin-bottom: 15px; }
.editable:last-child { margin-bottom: 0 }
/* Disable Text Select */

.logo, .box, .checkbox_container { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;  -ms-user-select: none; user-select: none; }

/* Transitions */

.ts-color, h1 a { transition: color 0.2s; -webkit-transition: color 0.2s; -moz-transition: color 0.2s; -ms-transition: color 0.2s; -o-transition: color 0.2s; }

/* Animations */

/* Headlines */

h1, h2, h3, h4, h5, h6 { font-weight: 300; color: #475359; line-height: normal; clear: both; }
h1 { color: #ccc; }
h2, h3 { margin-bottom: 20px }
h3 { font-weight: 400 }
h4 { }

.edit-setting-bar h4 { margin-bottom: 10x }
.edit-setting-bar ul { list-style: none; }
.edit-setting-bar ul li { float: left; margin-right: 10px; }
#snippet_language_current { padding: 10px 0; display: inline-block }
.editSnippet ~ .edit-setting-bar fieldset.checkbox_container:last-of-type { margin-bottom: 0 }
#snippet_language_new { margin: 13px 0}

/* Body Text */

p { margin-bottom: 20px }
p:last-child { margin-bottom: 0 }

/* Links */

a { text-decoration: none; font-weight: 400; color: #16c79e }
a:hover { color: #F58225 }

.active > a { color: #F58225 }

/* Lists */

ul, ol { list-style-position: inside; padding: 0 }
ul li, ol li { } 

/* Inputs */

.faq { margin-top: 40px; float: left; width: 100%; }

.widget { margin-bottom: 20px; float: left; width: 100%; }
.widget:last-child { margin-bottom: 0; margin-top: 10px }

input, textarea, .editable, .editSnippet h3 span { border: 0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 1em; padding: 10px 15px; width: 100%; transition: background 0.25s, color 0.25s, border 0.25s; -webkit-transition: background 0.25s, color 0.25s, border 0.25s; /*-webkit-appearance: none; -moz-appearance: none;*/ }
input.text, .collabSettings input[type="text"], .editable, datalist, .editSnippet h3 span.mysnippet_editable { background: #e8e8e8; border-width: 1px 1px 2px 1px; border-style: solid; border-color: transparent; }
input.text:focus, .collabSettings input[type="text"]:focus, .editable.editing, datalist:focus, .editable.mysnippet_editable { outline: none; background: #f9f9f9; border-bottom: 2px solid #E2E2E2; }
input.submit { cursor: pointer; background: #16c79e; color: #fff; width: auto }
input.submit:hover { background: #F58225  }
input.submit:focus, input.submit:hover, textarea:hover, textarea:focus { outline: 0 }
textarea { resize: vertical; min-height: 250px }

.new-collab-section input.text { width: auto; min-width: 250px; margin-bottom: 15px; clear: both; display: block }

.editable { background: #f9f9f9 }

input.text.error { border-bottom-color: #F35252 }
input.text.ok, input.text.validated, input.text.success { border-bottom-color: #16c79e }

/* Buttons */

.btn { }
.btn.green { display: inline-block; padding: 2px 7px; color: #fff; font-size: 0.825em; background: #16c79e; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin-bottom: 0; margin-right: 5px; }
.btn.green:hover { background-color: #F58225 }

.btn.green.submit { padding: 12px 15px; }
/* Images */

img { border: 0; display: none }

/* Main Forms */

#wrapper { width: 100%; height: 100%; min-height: 100% !important; padding: 20px; position: relative; }

aside, #content, header, .snippetSingle, .snippetList .pagination { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

.snippetSingle.editSnippet { margin-bottom: 20px; }

.inside { }

.container { background: #e8e8e8; width: 100%; float: left; padding: 0; margin-top: 20px }
.container.login-container { padding: 0; width: 100% !important; height: 100%; min-height: 100% !important }

aside { float: left; width: 100%; background: #fff; padding: 20px; position: relative; }
aside.left { float: left }

aside .top { float: left; width: 100%; position: relative }

aside .logo { float: left; }

aside .nav-btn { width: 35px; position: absolute; right: 0; top: 50%; cursor: pointer; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
aside .nav-btn span { display: inline-block; clear: both; width: 100%; height: 3px; background: #6D7173; margin-bottom: 6px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
aside .nav-btn span:nth-child(2) { width: 70%; float: right }
aside .nav-btn span:last-child { margin-bottom: 0 }

aside nav ul li.active ul:empty { display: none; padding: 0; }

aside .nav-btn.open span { background: #16c79e; }

aside .nav-btn.open span:nth-child(1) { -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform: rotate(45deg); margin-top: 0px; margin-bottom: -3px; }
aside .nav-btn.open span:nth-child(2) { display: none }
aside .nav-btn.open span:nth-child(3) { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }

aside nav { margin: 20px 0 0 0; float: left; width: 100% }
aside nav ul { list-style: none; }
aside nav ul li { display: inline-block; float: left; clear: both; line-height: 1; margin-bottom: 15px; }
aside nav ul li:last-child { margin-bottom: 0 }
aside nav ul li a { font-size: 0.925em; display: block }

aside nav ul li ul { padding: 17px 0 7px 20px; display: none; float: left; }
aside nav ul li ul li { margin-bottom: 5px }
aside nav ul li:last-child a { padding-bottom: 0 }
aside nav ul li.active ul { display: block }
aside nav ul li ul a { padding: 2px }

/* Login & Register */ 

.box { background: #fff; padding: 40px; text-align: center; max-width: 100%; position: absolute; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); left: 50%; top: 50%; width: 90%; }

.box .logo { margin-bottom: 20px }

.box form { float: left; width: 100%; text-align: center; width: 100%; margin-bottom: 20px }
.box form input, .box form input.btn.green { display: inline-block; }

.box ul { float: none; margin: 0 auto; display: table; clear: both; list-style: none }
.box ul li { float: left; margin-right: 15px; }
.box ul li:last-child { margin-right: 0 }

.box section { float: left; width: 100%; margin: 0 0 40px 0 }

.box form input.btn.green { padding: 10px 15px }

/* Content */

header { background: #fff; float: left; width: 100%; margin-bottom: 20px; height: 50px; padding: 0 0 0 20px }

header .search-box { float: left; width: 100% }
header .search-box .widget { float: left; padding: 0; width: auto; margin: 0; width: auto; }
header .search-box .widget.search-submit { float: right; }

header .search-box .widget { width: calc(100% - 30px) }
header .search-box .widget.search-submit { float: left; width: 20px; }

header .search-box input { width: calc(100% - 10px); border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; height: calc(100% - 10px) }
header .search-box input.search-text { padding: 0 }
header .search-box input.btn.search { cursor: pointer; background: url("../images/header-search@2x.png") no-repeat center left; background-size: 20px; -webkit-background-size: 20px; text-indent: -999px; font-size: 0; -webkit-appearance: none; -moz-appearance: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border: 0; }
header .search-box input:focus { outline: none; }

header .search-box input.search-text { border-bottom: 1px solid #e2e1e1 }
header .search-box input:focus { border-bottom: 1px solid #BFBFBF }

header nav { float: right; }
header nav ul { list-style: none; z-index: 10; }
header nav ul li { float: left; position: relative }
header nav ul li a { padding: 20px 0 20px 20px; display: block; font-size: 0.925em; }
header nav ul li:hover > a, header nav ul > li.active > a {  }
header nav > ul > li:nth-last-child(2) > a { padding-right: 20px }
header nav ul li.new-snippet { display: none }
header nav ul li.new-snippet a { background: #16c79e url("../images/snippet-new@2x.png") no-repeat 17px 47%; background-size: 18px; -webkit-background-size: 18px; color: #fff; padding-left: 45px; padding-right: 20px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-top-left-radius: 0; border-bottom-left-radius: 0; -webkit-border-top-left-radius: 0; -webkit-border-bottom-left-radius: 0; -moz-border-radius-topleft: 0; -moz-border-radius-bottomleft: 0; }
header nav ul li.new-snippet a:hover { background-color: #F58225 }

header nav ul li ul { display: none; position: absolute; top: 100%; background: #19c79e; left: 10px; overflow: hidden; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-top-left-radius: 0; -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; border-top-right-radius: 0; -webkit-border-top-right-radius: 0; -moz-border-radius-topright: 0; white-space: nowrap; min-width: 100%; }
header nav ul ul li { float: none; }
header nav ul ul li a { color: #fff; padding: 4px 15px; font-size: 0.9em }
header nav ul ul li a:hover, header nav ul ul li.active a { background: #F58225; color: #fff }
header nav ul li:hover ul { display: block; }

/* Snippet List */

.snippetList, .snippetSingle, .singleLeft, .snippetTitle, .singlePreview, .singleTopLeft, .singleContent, .snippetMeta, .singleLeftBottom, .snippetCode { float: left; width: 100%; }

.snippetSingle p { line-height: normal }

.snippetList { margin-bottom: 20px }
.snippetList .snippetSingle:last-child { margin-bottom: 0 }

.snippetSingle { padding: 20px; background: #fff; float: left; width: 100%; margin-bottom: 10px; color: #bcbcbc }
.snippetSingle.last { margin-bottom: 0 }

.snippetSingle .author { padding-left: 15px; background: url("../images/snippet-author@2x.png") no-repeat left center; background-size: 13px; -webkit-background-size: 13px; line-height: 1; font-size: 0.9em; margin-bottom: 10px; margin-right: 20px; opacity: 0.4; transition: opacity 0.25s; -webkit-transition: opacity 0.25s; -moz-transition: opacity 0.25s; }
.snippetSingle .author a { color: #bcbcbc; text-decoration: none }
.snippetSingle .author:hover { opacity: 1 }
.snippetSingle .author:last-child { margin-bottom: 0 }
.snippetSingle .author.forkedby { background: url("../images/snippet-fork@2x.png") no-repeat left center; background-size: 15px; -webkit-background-size: 15px; }
.snippetSingle .author span { display: inline-block; margin-left: 10px }

.snippetSingle .author.forkedfrom { padding-left: 15px; background: url("../images/snippet-forkedfrom@2x.png") no-repeat left center; background-size: 13px; -webkit-background-size: 13px; }

.snippetSingle .author.team { padding-left: 15px; background: url("../images/snippet-team@2x.png") no-repeat left center; background-size: 13px; -webkit-background-size: 13px; }

.snippetSingle .singleTopLeft { float: left; width: 100%; }

.snippetSingle .singleContent { margin-bottom: 30px }

.snippetSingle .snippetTitle h3 { margin-bottom: 0 }

.snippetSingle .snippetMeta { margin: 10px 0 30px 0; font-size: 0.85em }

.snippetSingle .hashtags { float: left; }
.snippetSingle .hashtags a { display: inline-block; margin-right: 5px; padding: 2px 7px; color: #fff; font-size: 0.825em; background: #16c79e; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin-bottom: 5px }
.snippetSingle .hashtags a:hover { background: #F58225 }

.singleLeftBottom .copy { float: left; padding: 10px 0 0 0; margin: 10px 0 0 0; border-top: 1px solid #e8e8e8; width: 100%; }
.singleLeftBottom .copy a { display: inline-block; padding: 2px 7px; color: #fff; font-size: 0.825em; background: #16c79e; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin-bottom: 0; margin-right: 5px; }
.singleLeftBottom .copy a:hover { background: #F58225 }
.singleLeftBottom .copy a.copy-url, .singleLeftBottom .copy a.fork, .singleLeftBottom .copy a.copy-clipboard { background: none; color: #16c79e }
.singleLeftBottom .copy a.copy-url:hover, .singleLeftBottom .copy a.fork:hover, .singleLeftBottom .copy a.copy-clipboard:hover { color: #F58225 }
.singleLeftBottom .copy a:last-child { margin-right: 0 }

.snippetSingle .snippetCode { padding: 20px 20px 20px 0; background: #e8e8e8; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin: 20px 0 0 0; }

.snippetSingle.snippetNew .snippetCode { margin-bottom: 40px }

.snippetList .pagination { float: left; width: 100%; background: #fff; margin-top: 20px; overflow: hidden; padding: 20px }
.snippetList .pagination ul { list-style: none; display: table; margin: 0 auto; }
.snippetList .pagination ul li { float: left; margin-right: 15px; }
.snippetList .pagination ul li a { color: #ccc; display: block; float: left; }
.snippetSettings { position: relative; }
.snippetSettings h4 { margin-bottom: 5px }
.snippetShare, .snippetLanguage { margin-bottom: 20px; }
.snippetSettings, .snippetTags { float: left; width: 100%; margin-bottom: 20px; }
.snippetSettings fieldset.snippetPublic:last-of-type { margin-bottom: 0 }
.snippetCreate { float: left; width: 100% }
input.text.list-text { min-width: auto; margin-right: 15px; margin-bottom: 20px }

.snippetSingle.editSnippet ~ .edit-setting-bar { background: #fff; float: left; width: 100%; padding: 20px; margin-bottom: 20px;  border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;  }

/* Codemirror */

.CodeMirror-gutters { background: #e8e8e8 !important; }

/* Sidebar Elements */

.logo h1 { font-weight: 300 }
.logo h1 a { color: #5B6C75; font-weight: 300 }
.logo h1 a:hover { color: #16c79e }
.logo p { margin: 0 }
.logo p span { color: #F58225 }

/* Subpages */

.page-content h1, .searchMeta { display: block; width: 100%; background: #fff; padding: 20px; font-size: 1.4em; line-height: normal; margin: 0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin-bottom: 20px; }

.page-section { background: #fff; padding: 40px; border-radius: 3px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin-bottom: 10px; float: left; width: 100%; }

.collabDetail .page-section { margin-bottom: 20px }
.page-section.last, .page-section:last-child { margin-bottom: 0 }

.page-section.edit-setting-bar { padding: 10px 20px }

.page-content .collabSettings h1 { margin-bottom: 10px; }
.collabSettings h1:nth-child(1) { margin-bottom: 20px }
.collabSettings .page-section { margin-bottom: 20px }

.collabSettings .singleUser { float: left; width: 100%; margin-bottom: 40px; }
.collabSettings .singleUser:last-child { margin-bottom: 0 }
.collabSettings .singleUser label { }
.collabSettings .btn.green.submit { clear: both; display: block; margin: 5px 0 0 0}

.collabSettings input[type="text"] { margin-bottom: 20px;}
/* Snippet List */

/* Collab */

.collab-area {     float: left;
    width: 100%;
    margin-bottom: 20px; }

.collab-list { margin-bottom: 20px }
.collab-section .collabTitle, .collab-section .collabDescription, .collab-section .collabHashtags, .collabBottom { margin-bottom: 20px; float: left; width: 100%; }
.collab-section .collabBottom { margin-bottom: 0 }

.collabDescription p { margin-bottom: 20px }
.collabDescription p:last-child { margin-bottom: 0 }

.collab-section h3 { margin-bottom: 5px; }

.collab-section .collabHashtags { margin-bottom: 0 }
.collab-section .collabHashtags a { display: inline-block; margin-right: 5px; padding: 2px 7px; color: #fff; font-size: 0.825em; background: #16c79e; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.collab-section .collabHashtags a:hover { background: #F58225 }

.collabDescription { margin-bottom: 20px }

.collabAdmins ul { list-style: none;}

.collabActions { padding-top: 20px; margin-top: 20px; border-top: 1px solid #e8e8e8; float: left; width: 100% }
.collabActions a { margin-right: 5px; font-size: 0.825em }
.collabActions a:last-child { margin-right: 0 }

.collabAddUser { float: left; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #e8e8e8 }
.collabButtons { float: left; }

.collabButtons a { float: none; display: block }

.collabSingle h4 { margin-bottom: 10px }

.page-section.new-collab-section { margin-bottom: 20px }

.collabSettings textarea { border: 20px solid #e8e8e8; margin-bottom: 20px }
.collabSettings .label-editable { margin-bottom: 10px }
/* Checkbox */
fieldset.checkbox_container { margin-bottom: 10px }
fieldset.checkbox_container:last-of-type { margin-bottom: 20px }
fieldset.checkbox_container label { float: left; display: inherit }
fieldset.checkbox_container span { display:inherit; margin: 0;  }
fieldset.checkbox_container input[type="checkbox"], fieldset.checkbox_container label[for] { display:inline-block; float: left; width: auto; margin: 0; padding: 0px; }
fieldset.checkbox_container label[for] { margin-left: 10px; cursor:pointer; font-size: 0.875em }
fieldset.checkbox_container input[type="checkbox"] { visibility:hidden; -webkit-appearance: none; -moz-appearance: none; height: 20px; width: 21px; display: none;}
fieldset.checkbox_container input[type="checkbox"] ~ label[for] { margin-left: 0; float: left; display: block  }
fieldset.checkbox_container input[type="checkbox"] ~ label[for]:before {margin: 2px 10px 0 0; content:"\2713";  padding: 0; color: #ededed; background: #ededed; border: 0; display: block !important; float: left; width: 18px; height: 19px; text-align: center; font-size: 0.875em; line-height: 20px; border: 1px solid #ededed; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
fieldset.checkbox_container input[type="checkbox"]:checked ~ label[for]:before { color:#fff; background: #16c79e; font-weight: 700; border: 1px solid #16c79e }
fieldset.checkbox_container input[type="checkbox"] ~ label[for]:hover:before, fieldset.checkbox_container input[type="checkbox"] ~ label[for]:focus:before { color: #fff; }

fieldset.checkbox_container input[type="checkbox"].error ~ label[for]:before { border: 1px solid #eb5454 !important }
fieldset.checkbox_container input[type="checkbox"].error ~ label {  color: #eb5454 }

/* Profile */

.profile-area { float: left; width: 100%; margin-bottom: 20px; }
.profile-area:last-child { margin-bottom: 0 }

.profile-section .userInfo { float: left; width: 100%;margin-bottom: 0 }
.profile-section .bio, .profile-section .info { width: 50%; float: left; padding: 20px;}
.profile-section .bio { padding-left: 0 }
/* Search */

.searchMeta { font-size: 1em; line-height: normal; color: #ccc }

/* Media Queries */

@media (min-width: 23em) {  /* 368/16 */

}

@media (min-width: 30em) { /* 496/16  */

.box { padding: 50px; width: auto }
.box form { margin: 20px 0 40px 0 }

.snippetSingle .author { float: left; margin: 0 30px 0 0 }
	
}

@media (min-width: 48em) { /* 768/16  */

input { width: auto; }
input.text { min-width: 300px }

.box { padding: 40px; height: auto; width: auto; }

	
}

@media (min-width: 50em) { /* 800/16  */

}

@media (min-width: 64em) { /* 1024 / 16 */ 

#wrapper { width: 1024px; margin: 0 auto; }

}

@media (min-width: 73em) { /* 1168/16  */

#wrapper { width: 1168px; }

.no-mobile { display: block; }

.container { width: 80%; margin-top: 0; padding-left: 20px }

.inside {  }

aside { width: 20%; }
aside .nav-btn { display: none }
aside nav ul li.new-snippet { display: none }
aside nav ul li:last-child { margin-bottom: 0 }

header { padding-left: 320px; position: relative; height: auto; }

header .search-box { float: left; width: 300px; position: absolute; left: 20px; height: 60%; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%) }
header .search-box input { height: 100%; }

aside nav ul li.new-snippet { margin-top: 5px }
aside nav ul li.new-snippet a { display: inline-block; clear: both; color: #fff; background: #16c79e url("../images/snippet-new@2x.png") no-repeat 7px center; padding: 6px 12px 6px 27px; -webkit-background-size: 14px; background-size: 14px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; } 
aside nav ul li.new-snippet a:hover { background-color: #F58225 }

header nav ul li.new-snippet { display: block }

.box { padding: 60px 120px; }
.box .logo { margin-bottom: 40px; }

.snippetSingle { padding: 40px }
.page-content h1, .searchMeta { padding: 20px 40px }
.singleLeftBottom .copy { float: right; margin: 0; padding: 0; border: 0; width: auto; }


.snippetSettings > div { float: left; margin-bottom: 0; width: 33%; }

.collab-section .collabAddUser, .collab-section .collabActions { float: left; width: auto; margin: 0; padding: 0; border: 0; }
.collab-section .collabActions { float: right; }
.collabButtons { float: right }

.collabSingle .collabActions { margin-top: 40px }
.collabSingle .collabAddUser { border: 0; margin: 0; padding: 0; }
.collabSingle .collabAddUser input.text { min-width: auto; margin-right: 15px }
.collabActions { margin: 0; padding: 0; border: 0; margin-top: 20px}
.collabActions .collabButtons { margin-top: 10px }
.collabActions .collabButtons a { float: left; margin-right: 20px }
.collabActions .collabButtons a:last-child { margin-right: 0 }

.page-section.edit-setting-bar { padding: 20px 40px }

.snippetSingle.editSnippet ~ .edit-setting-bar.snippetEditButtons { text-align: right }


}

@media (min-width: 78em) /* 1248 / 16 */ { 
	
#wrapper { width: 1248px; }
.container { width: 80%; }
aside { width: 20%; }

.box { padding: 75px 150px; }
	
}


/* Retina Images */

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { 


}

/* Windows Scrollbar & Menu Disappearing Fix */

.windows { overflow-y: scroll !important; }
@media (min-width: 1023px) and (max-width: 1065px) { .windows header .mod_navigation { display: block !important} }


/* Clearfix */

.clearfix:after, .box:after, .snippetList:after, .snippetSingle:after, .singleLeft:after, .singlePreview:after, .singleTopLeft:after, .singleContent:after, .snippetMeta:after, .snippetCode:after, .snippetTitle:after, .singleLeftBottom:after, .page-section:after, .collab-section .collabTitle:after, .collab-section .collabDescription:after, .profile-area:after, .collab-section .collabAddUser:after, .collabBottom:after { display: block; content: "."; clear: both; font-size: 0; line-height: 0; height: 0; overflow: hidden; }

