/* Colors
	
######################
SHADES
######################
White: #fff
Light-Grey: #fbfbfb
Medium-Grey: #F3F3F3
Semi-Dark-Grey: #ACACAC
Dark-Grey: #515151
Anthracite: #343434
######################


######################
ACCENTS
######################
Blau Inaktiv: #DBE3F2

Smurf Blue: #59AAFA
Medium Navy Blue: #758191 Text
Dark Navy Blue: #364454

Violet: #7661FB
Green: #37D47A
Red: #F05356
######################


######################
ELEMENT REFERENCES
######################
Header Background: White
Main Background: Medium-Grey
Sidebar Background: Light-Grey
Snippet Background: White
######################*/

* { padding: 0; margin: 0; box-sizing: border-box; -webkit-box-sizing: border-box; }
html { -webkit-text-size-adjust: 100%; }

body { background: #F3F3F3; font-family: 'Source Sans Pro', sans-serif; font-weight: 300; color: #888; font-size: 1em; line-height: 160% }

/* Text */

h1, h2, h3, h4, h5, h6 { font-weight: 600; line-height: normal; color: #343434; margin-bottom: 20px }
h1 { margin-bottom: 25px; font-size: 1.5em; }
h2 { }
h3 {  }
h4 { }

aside h4, aside h5 { text-align: center }

p { }

ul, ol { list-style-position: inside; padding: 0 }
ul li, ol li { }

a { text-decoration: none; color: #7661FB; font-weight: 400 }
a:hover { color: #7661FB }

.hidden, .invisible, .desktop-only, .tooltip-menu { display: none }

/* Buttons */

.btn { }
.btn.minimal { }

.btn {}

/* Images */

img { border: 0; display: none }

/* Main Forms */

.inside { display: -ms-flexbox; display: flex; -webkit-display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; height: 100% }

#content { background: #F3F3F3; width: 100%; float: left; padding: 40px; }

aside { background: #fbfbfb; float: left; width: 100% }
aside.left { float: left }
aside.right { float: right }

/* Header */

header { background: #fff; width: 100%; }

header .logo { float: left; padding: 15px; margin-right: 40px }
header .logo img { display: block; width: 35px; height: auto }

header nav { float: left; width: 100%; }
header nav ul { }
header nav li { width: 100%; display: block; float: none }

header nav img { display: block; width: 24px; height: auto; }

header .right { float: right; padding: 15px }
header .right .btn.new { background: transparent; border: 1px solid #E6E6E6; color: #9e9e9e; display: block; padding: 5px 10px; border-radius: 999px; -webkit-border-radius: 999px; -moz-border-radius: 999px }
header .right .btn.new:hover { background: #7661FB; color: #fff; border-color: #7661FB }

/* Content */

/* Sidebar Elements */

aside .sidepanel { padding: 20px }

aside ul { list-style: none }

/* Sidebar Left specific */

/* Sidebar Right specific */

aside #followedTags {  }
aside #followedTags ul { list-style: none; }
aside #followedTags li { float: left; display: block; margin: 0 10px 10px 0; font-size: 0.875em }
aside #followedTags li a { display: block; padding: 3px 6px; color: #9e9e9e; background: #e8e8e8; font-weight: 400; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; line-height: normal }
aside #followedTags li a:hover { background: #7661FB; color: #fff; }
aside #followedTags p { display: block; width: 100%; text-align: center }
aside #followedTags p a { color: #d2d2d2; }
aside #followedTags p a:hover { color: #7661FB}

/* Snippet List */

.snippetList {  }

.snippetSingle { display: -ms-flexbox; display: flex; -webkit-display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; background: #fff; width: 100%; margin-bottom: 40px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 20px }
.snippetSingle .singleLeft { }
.snippetSingle .singlePreview { }
.snippetSingle .singleContent .snippetCode { }

#sl-recent { }

/* Media Queries */

@media (min-width: 23em) {  /* 368/16 */



}

@media (min-width: 30em) { /* 496/16  */
	
}

@media (min-width: 48em) { /* 768/16  */
	
}

@media (min-width: 50em) { /* 800/16  */

}

@media (min-width: 64em) { /* 1024 / 16 */ 

#content { width: 60%; }
aside { width: 20% }

header { }
header nav { width: auto; }
header nav li { float: left; width: auto}
header nav li a { padding: 15px 15px 18px 15px; border-top: 3px solid transparent; display: block; font-weight: 400; color: #9e9e9e; width: auto }
header nav li a:hover { color: #7661FB; border-top: 3px solid #7661FB }

}

@media (min-width: 73em) { /* 1168/16  */

#content { width: 70%; }
aside { width: 15% }

}

@media (min-width: 78em) /* 1248 / 16 */ { 
	
#content { width: 60%; }
aside { width: 20%; max-width: 350px }
	
}


/* Retina Images */

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { 


}

/* Windows Scrollbar & Menu Disappearing Fix */

.windows { overflow-y: scroll !important; }
@media (min-width: 1023px) and (max-width: 1065px) { .windows header .mod_navigation { display: block !important} }


/* Clearfix */

#wrapper:after, header:after, nav:after, nav ul:after, .inside:after, .container:after, aside:after, aside #followedTags ul:after { display: block; content: "."; clear: both; font-size: 0; line-height: 0; height: 0; overflow: hidden; }

